# Python cache
__pycache__/
*.pyc

# Environments
venv/
.venv/
.env
*.env

# Distribution / packaging
*.egg-info/
build/
dist/
site/

# Test and tool caches
.nox/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Project outputs
dest/
hermeto-output/
cachi2-output/
