name: Gating

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs: {}

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    container:
      image: python:${{ matrix.python-version }}-slim

    steps:
      - name: Install dependencies
        run: |
          # We need to install git inside the container otherwise the checkout action will use Git
          # REST API and the .git directory won't be present which fails due to setuptools-scm
          apt-get update && apt-get install --no-install-recommends --no-install-suggests -y git
          pip install --upgrade pip nox

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Test with nox
        run: |
          # Disable Git's safe.directory mechanism as some unit tests do clone repositories
          git config --global --add safe.directory '*'
          nox -s python-${{ matrix.python-version }}

      - name: Upload coverage reports to Codecov
        if: matrix.python-version == '3.12'
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

  linters:
    name: Linters
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    container:
      image: python:3.10-slim

    steps:
      - name: Install dependencies
        run: |
          # We need to install git inside the container otherwise the checkout action will use Git
          # REST API and the .git directory won't be present which fails due to setuptools-scm
          apt-get update && apt-get install --no-install-recommends --no-install-suggests -y git
          pip install --upgrade pip nox

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run linters
        run: nox -s lint

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
          # Ignore list:
          # * DL3041 - Specify version with dnf install -y <package>-<version>
          ignore: DL3041
          failure-threshold: warning

  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@v47
        id: changed-files
        with:
          files: "**/*.md"
          separator: ","
      - uses: DavidAnson/markdownlint-cli2-action@v20
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ","
